<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width" />
    <title>HomePage</title>
</head>
<body>
    <div>
        <p>We're going to have an exciting party. <br />
        (TODO: sell it better)
        </p>
        <a asp-action="AnswerForm">Answer Now</a>
    </div>
</body>
</html>