@model IEnumerable<GuestResponse>
@{
    ViewData["Title"] = "List of responses";
}
<!DOCTYPE html>
<html>
<head>
    <meta name=”viewport” content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-body">
    <h2>Here is the list of people attending the party</h2>
    <table class="table d-sm-table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone number</th>
            </tr>
        </thead>
        <tbody>
            @foreach(GuestResponse gr in Model)
            {
               <tr>
                   <td>@gr.Name</td>
                   <td>@gr.Email</td>
                   <td>@gr.PhoneNumber</td>
               </tr>
            }
        </tbody>
    </table>
    </div>
</body>
</html>

