@model ProductsListViewModel
@{
    ViewData["Title"] = "ShowListProducts";
}

@foreach(var p in Model.Products)
{
    @await Html.PartialAsync("ProductPartial", p)
}
<div page-model="@Model.PagingInfo" page-action="ShowListProducts" page-classes-enabled="true"
page-class="btn" page-class-normal="btn-secondary" page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>

